<div class="container">
    <h1>Create Teambuilding</h1>
    <form #loginForm="ngForm" (ngSubmit)="create()">
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" 
        [(ngModel)]="model.Location"
        name="location"
        #location="ngModel">
      </div>
      <div class="form-group">
        <label for="thingsneeded">Things to Get</label>
        <input type="text" class="form-control" id="thingsneeded" 
        [(ngModel)]="model.ThingsNeeded"
        name="thingsneeded"
        #thingsneeded="ngModel">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-12 col-md-4 form-group">
            <input 
              type="text"
              placeholder="Daterangepicker"
              class="form-control"
              bsDaterangepicker>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Create</button>
    </form>
  </div>