
<div *ngIf="username">
    <app-teambuilding></app-teambuilding>
    <div>{{username}}</div>
</div>
<div *ngIf="authService.admin">
  <div *ngIf="users">
    <h1>User requests !</h1>
      <div *ngFor="let u of users">
        <div class="col-xs-6" *ngIf="!u.isActive"> {{u.firstName}} {{u.lastName}}
          <div>
            <button type="button" class="btn btn-primary btn-sm" (click)="accept(u.id)">Accept</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="delete(u.id)">Delete</button>
          </div>
        </div>
      </div>
  </div>
</div>
<div *ngIf="authService.checkIfLoggedIn()"> 
  <app-viewads></app-viewads>
</div>